@font-face {
    font-family: 'Gruppo';
    src: url('../fonts/Gruppo.eot');
    src: url('../fonts/Gruppo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gruppo.woff2') format('woff2'),
        url('../fonts/Gruppo.woff') format('woff'),
        url('../fonts/Gruppo.ttf') format('truetype'),
        url('../fonts/Gruppo.svg#Gruppo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}